@import "../css/_typography.css";
@import "../css/_variables.css";

:root {
  --blue900:rgba(18, 42, 67, 1);
  --blue800: rgba(36, 59, 83, 1);
  --blue700:rgba(52, 79, 104, 1);
  --blue600: rgba(72, 101, 130, 1);
  --blue500: rgba(98, 125, 152, 1);
  --blue400: rgba(130, 153, 176, 1);
  --blue300: rgba(160, 179, 199, 1);
  --blue200: rgba(189, 204, 222, 1);
  --blue100: rgba(217, 227, 235, 1);
  --black: rgba(15, 15, 15, 1);
  --grey: rgba(227, 227, 227, 1);
  --light-blue: rgba(10, 125, 133, 1);
  --white: rgba(255, 255, 255, 1);
}


* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#gjs {
  height: 100.7% !important;
  width: 100%;
  border-top: 3px solid #444;
  border-right: 3px solid #444;
  border-left: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-blocks-c {
  display: flex;
  flex-direction: column;
}

.gjs-block {
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  height: auto;
  min-height: auto;
  padding: 0.50rem;
  margin: 0;
}

.gjs-block:hover {
  background-color: transparent;
}

.gjs-category-title, 
.gjs-layer-title, 
.gjs-block-category .gjs-title, 
.gjs-sm-sector-title {
  padding: 0.25rem 0.5rem;
}

.gjs-block-category {
  display: block;
}

.gjs-title {
  display: block;
}

.gjs-block-label {
  font-size: 0.8rem;
  text-align: left;
}

.gjs-blocks-no-cat {
  display: none;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-grow: 1; /* Added to fill the remaining space */
  overflow-y: hidden;
}

.editor-canvas {
  flex-grow: 1;
  position: relative;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
  height: 100%; /* Added to make it full height */
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}

.gjs-pn-buttons {
  background-color: transparent;
}

.gjs-pn-btn {
  background-color: transparent;
}

.gjs-pn-btn::before {
  background-color: transparent;
}

.panel__switcher .gjs-pn-buttons {
  gap: 1rem;
}

.panel__switcher .gjs-pn-buttons span {
  padding: .25rem .5rem;
}
.panel__switcher .gjs-pn-buttons {
  gap: 0;
}

.panel__right .gjs-pn-buttons {
  background-color: rgba(0, 0, 0, .2);
  justify-content: flex-start;
  gap: 1rem;
}

.gjs-pn-buttons,
.panel__right .gjs-pn-buttons > span {
  margin: 0;
}

.layouts-toolbar-title {
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  background: var(--grey);
  color: var(--black);
  margin: 0.8rem 0;
  border-radius: 6px;
}

.btn-container-sm {
  display: flex;
  justify-content: space-between;
  background: var(--grey);
  color: var(--black);
  margin: 0.8rem 0;
  border-radius: 6px;
  width: 30%;
  font-size: 1rem;
}

.footer-bar {
  display: flex;
  background-color: rgba(68, 68, 68, 1);
  color: rgba(255, 255, 255, 1);
  font-size: .7rem;
  padding-left: .5rem;
  gap: 1.5rem;
  line-height: 0;
  z-index: 1;
}

.status {
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  align-self: center;
  display: block;
}

.green-dot {
  background-color: rgba(0, 146, 0, 1);
}

.yellow-dot {
  background-color: rgba(220, 162, 14, 1);
}

.red-dot {
  background-color: rgba(197, 0, 0, 1);
}

.footer-btn {
  display: block;
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0.3rem 0;
  width: 50%;
  color: var(--black);
  transition: .25s ease;
  font-size: 1rem;
}

.layout-btn {
  width: 33%;
  font-size: 1rem;
}

.footer-btn:hover {
  cursor: pointer;
  background-color: var(--blue100);
  transition: .25s ease;
}

.footer-btn.active {
  background-color: var(--light-blue);
  color: var(--white);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  margin: 0;
}

.footer-btn.active:hover {
  cursor: default;
}

.layout-btn {
  display: block;
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0.3rem 0;
  color: var(--black);
  transition: .25s ease;
}

.layout-btn:hover {
  cursor: pointer;
  background-color: var(--blue100);
  color: var(--black);
  transition: .25s ease;
}

.layout-btn.active {
  background-color: var(--light-blue);
  color: var(--white);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  margin: 0;
}

.layout-btn.active:hover {
  cursor: default;
}

.gjs-resizer-c {
  display: block;
}

.gjs-resizer-h {
  color: transparent;
}

/* Menu Bar  */
.menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  font-family: sans-serif;
}

.menu-bar button {
  /* background-color: #315d97; */
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-bar button:hover {
  /* background-color: #22416a; */
  border-color: #1B96FF;
  color: #1B96FF
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: block !important;
  font-size: 32px;
  margin-bottom: 8px;
}

.gjs-caret-icon {
  background-color: transparent;
}

.gjs-caret-icon::before {
  background-color: transparent;
}

#gjs-frame-dropzone {
  background-color: red;
  color: red;
}

/* Border of component when hovered over */
.gjs-cv-canvas .gjs-highlighter,.gjs-cv-canvas .gjs-highlighter-sel {
  outline: 1px solid transparent;
}

/* Name badge of component when hovered over */
.gjs-badge {
  display: none;
  background-color: transparent;
  color: transparent;
}

/* Remove green drag and drop indicator (placeholder) bar */
.gjs-placeholder.horizontal, .gjs-com-placeholder.horizontal {
  border: none;
  border-width: 0;
  margin: 0;
}
.gjs-placeholder.vertical, .gjs-com-placeholder.vertical {
  border: none;
  border-width: 0;
  margin: 0;
}
.gjs-placeholder-int, .gjs-com-placeholder-int {
    display: none;
}

/* Toggled class for ck editor toolbar for headings */
.remove-ck-toolbar {
  display: none !important;
}

/* Styles for button visibility */

.add-btn-toggle {
  cursor: pointer;
}

/* Blue Theme styles for Grapes JS UI */

.gjs-one-bg {
  background-color: var(--blue900);
}

/* bar with save, open, and export */
.menu-bar {
  background-color: var(--blue900);
}

/* bar with devices, and panels */
.panel__top {
  background-color: var(--blue800);
}

.panel__devices {
  background-color: var(--blue800);
}

.panel__switcher {
  background-color: var(--blue800);
}

/* right side panel */
.panel__right {
  background-color: var(--blue700);
  min-width: 300px;
}

.blocks-container {
  background-color: var(--blue700);
}

.gjs-block-categories {
  background-color: var(--blue700);
}

.gjs-block-category {
  background-color: var(--blue600);
  margin: 5px 0;
}

/* targets containers within the blocks panel  */
.gjs-blocks-c {
  padding: 10px 5px;
}

.gjs-block {
  background-color: var(--grey);
  color: var(--black);
  border-radius: 5px;
  padding: 8px 15px;
  margin: 4px;
}

.gjs-block-category .gjs-title {
  padding: 15px 10px;
}

.gjs-block-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.gjs-block-label::after {
  content: "";
  width: 9px; /* Set your desired width */
  height: 17px; /* Set your desired height */
  background-image: url("../images/move-dots.png");
  background-size: cover; /* Adjust to your needs, 'cover' scales the image to cover the entire container */
  display: inline-block; /* Make the pseudo-element inline-block to respect width and height */
  background-repeat: no-repeat;
}

.gjs-block:hover {
  color: var(--black);
  background-color: var(--blue100);

}

#layouts-toolbar, #footer-toolbar {
  padding:5px 15px;
}

.gjs-block-category.gjs-open .gjs-blocks-c {
  display: block;
}

.gjs-block-category .gjs-blocks-c {
  display: none;
}

.general-options-content {
  padding: 0;
}

.general-options-title {
  margin-bottom: 15px;
}

.footer-bar {
  background-color: var(--blue800)
}

.gjs-pn-btn.gjs-pn-active {
  background-color: var(--light-blue)
}

.gjs-four-color {
  color: #ffffff;
}

.bi-grid::before,.bi-node-plus::before,.bi-layers::before,.bi-palette::before  {
  margin: 0;
}

.panel__switcher .gjs-pn-buttons span {
  padding: .5rem .75rem;
  transition: .25s ease;
}