@import "../css/_typography.css";
@import "../css/_variables.css";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#gjs {
  height: 100.7% !important;
  width: 100%;
  border-top: 3px solid #444;
  border-right: 3px solid #444;
  border-left: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-blocks-c {
  display: flex;
  flex-direction: column;
}

.gjs-block {
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  height: auto;
  min-height: auto;
  padding: 0.50rem;
  margin: 0;
}

.gjs-block:hover {
  background-color: transparent;
}

.gjs-category-title, 
.gjs-layer-title, 
.gjs-block-category .gjs-title, 
.gjs-sm-sector-title {
  padding: 0.25rem 0.5rem;
}

.gjs-block-category {
  display: block;
}

.gjs-title {
  display: block;
}

.gjs-block-label {
  font-size: 0.8rem;
  text-align: left;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-grow: 1; /* Added to fill the remaining space */
}

.editor-canvas {
  flex-grow: 1;
  position: relative;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
  height: 100%; /* Added to make it full height */
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}

.gjs-pn-buttons {
  background-color: transparent;
}

.gjs-pn-btn {
  background-color: transparent;
}

.gjs-pn-btn::before {
  background-color: transparent;
}

.panel__switcher .gjs-pn-buttons {
  gap: 1rem;
}

.panel__switcher .gjs-pn-buttons span {
  padding: .25rem .5rem;
}
.panel__switcher .gjs-pn-buttons {
  gap: 0;
}

.panel__right .gjs-pn-buttons {
  background-color: rgba(0, 0, 0, .2);
  justify-content: flex-start;
  gap: 1rem;
}

.gjs-pn-buttons,
.panel__right .gjs-pn-buttons > span {
  margin: 0;
}

.gjs-pn-panel {
  box-sizing: unset;
}

.layouts-toolbar-title {
  text-align: left;
  font-weight: 300;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  background: #6b6b6b;
  margin: 0.8rem 0;
  border-radius: 5px;
}

.btn-container-sm {
  display: flex;
  justify-content: space-between;
  background: #6b6b6b;
  margin: 0.8rem 0;
  border-radius: 5px;
  width: 30%;
}

.footer-bar {
  position: absolute;
  bottom: -10px;
  z-index: 1;
  background-color: rgba(68, 68, 68, 1);
  color: rgba(255, 255, 255, 1);
  padding-left: .5rem;
  width: calc(100% - 1.3rem);
  display: flex;
  gap: 1.5rem;
  font-size: .7rem;
  line-height: 0;
}

.status {
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  align-self: center;
  display: block;
}

.green-dot {
  background-color: rgba(0, 146, 0, 1);
}

.yellow-dot {
  background-color: rgba(220, 162, 14, 1);
}

.red-dot {
  background-color: rgba(197, 0, 0, 1);
}

.footer-btn {
  display: block;
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0.3rem 0;
}

.footer-btn:hover {
  cursor: pointer;
  color: #d278c9;
}

.footer-btn.active {
  background-color: rgba(210, 120, 201, .5);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  margin: 0;
}

.footer-btn.active:hover {
  cursor: default;
  color: rgba(255, 255, 255, 1);
}

.layout-btn {
  display: block;
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0.3rem 0;
}

.layout-btn:hover {
  cursor: pointer;
  color: #d278c9;
}

.layout-btn.active {
  background-color: rgba(210, 120, 201, .5);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  margin: 0;
}

.layout-btn.active:hover {
  cursor: default;
  color: rgba(255, 255, 255, 1);
}

.gjs-resizer-c {
  display: block;
}

.gjs-resizer-h {
  color: transparent;
}

/* Menu Bar  */
.menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  font-family: sans-serif;
}

.menu-bar button {
  /* background-color: #315d97; */
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-bar button:hover {
  /* background-color: #22416a; */
  border-color: #1B96FF;
  color: #1B96FF
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: block !important;
  font-size: 32px;
  margin-bottom: 8px;
}

.gjs-caret-icon {
  background-color: transparent;
}

.gjs-caret-icon::before {
  background-color: transparent;
}

#gjs-frame-dropzone {
  background-color: red;
  color: red;
}

/* Border of component when hovered over */
.gjs-cv-canvas .gjs-highlighter,.gjs-cv-canvas .gjs-highlighter-sel {
  outline: 1px solid transparent;
}

/* Name badge of component when hovered over */
.gjs-badge {
  display: none;
  background-color: transparent;
  color: transparent;
}

.gjs-placeholder.horizontal,.gjs-com-placeholder.horizontal,.gjs-placeholder.horizontal {
    border-color: rgba(0,0,0,0) #62c462;
    border-width: 3px 5px;
    margin: -3px 0 0;
}

.gjs-placeholder.vertical,.gjs-com-placeholder.vertical,.gjs-placeholder.vertical {
    border-color: #62c462 rgba(0,0,0,0);
    border-width: 5px 3px;
    margin: 0 0 0 -3px;
}

.gjs-placeholder-int,.gjs-com-placeholder-int,.gjs-placeholder-int {
    background-color: #62c462;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    height: 100%;
    width: 100%;
    pointer-events: none;
    padding: 1.5px;
    outline: none;
}