#one-column {
  width: 100%;
}

body {
  background-color: rgba(217, 217, 217, 1) !important;
}

dl.vocab-list dd {
  display: block;
}

/* Widgets */
.table-th, .table-td {
  word-break: break-word;
}

@media screen and (min-width: 768px) {
  table.custom-width th {
    width: 10% !important;
  }
}