#one-column {
  width: 100%;
  max-width: 998px;
  margin: auto;
}

body {
  background-color: rgba(217, 217, 217, 1) !important;
}

dl.vocab-list dd {
  display: block;
}

.footnotes {
  display: block;
}

footer {
  width: 95%;
  max-width: 1160px;
}

#one-column + footer {
  width: 100%;
  max-width: 998px;
  padding: 2.5%;
}